.search_result_section{
    display: flex;
    gap: 2rem;
    margin: 5rem 0;
}

.filters_section{
    flex: 1;
}

.job_list_section{
    flex: 2.5;
}

.featured_job_companies{
    flex: 1;
    position: relative;
}