.category_cards{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.category__card{
    min-width: 180px;
    min-height: 80px;
    background: var(--container-color);
    margin-bottom: 10px;
    border-radius: 1rem .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .8rem;
    transition: 400ms;
}

.category__card:hover{
    cursor: pointer;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.15);
}

.category__icon{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    border-radius: 50%;
}